.contact-page {
  height: 100%;
  display: grid;
  place-content: center;
}

.contact-page .form-container {
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: hsla(0, 0%, 40%, 0.7);
}
.contact-page .form-container > h2 {
  text-align: center;
  color: hsl(240, 5%, 90%);
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(100, 100, 100, 0.75);
  font-weight: 500;
  padding-bottom: 0.5rem;
  letter-spacing: 120%;
}
.contact-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-page form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-page form label > p {
  letter-spacing: 1px;
  margin-bottom: 0.05rem;
}

.contact-page form .input-group {
  display: flex;
  gap: 2rem;
}

.contact-page form .input-group > * {
  flex: 1;
}
.contact-page input,
.contact-page textarea {
  border: 2px solid rgba(100, 100, 100, 0.75);
  border-radius: 5px;
  color: hsl(240, 5%, 95%);
}

.contact-page input {
  padding: 0.1rem 0.25rem;
}

.contact-page textarea {
  padding: 0.25rem;
}

.contact-page button {
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: inherit;
  font-weight: inherit;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  position: relative;
  max-width: max-content;
  align-self: end;
  transition: 0.3s;
}

.contact-page button[type="submit"] {
  border: 1px solid var(--clr-primary);
  margin-top: 0.5rem;
}

.contact-page button.send:hover,
.contact-page button.sent {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}

.contact-page button.sent {
  cursor: default;
  pointer-events: none;
}

.contact-page button.sending {
  animation: sending 1s infinite;
}

.contact-page .error {
  color: hsl(0, 100%, 70%);
  font-size: 0.75rem;
}

@keyframes sending {
  0% {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
  }
  50% {
    background-color: var(--clr-bg);
    color: var(--clr-primary);
  }
  100% {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
  }
}
