.home {
  padding-inline: clamp(2.5rem, 5vw, 8rem);
  display: flex;
  height: 100%;
  gap: 2.5rem;
  /* justify-content: center; */
}

.home .panel {
  flex-basis: 0;
  min-width: min-content;
}

.home .panel.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-inline: 3rem;
  color: var(--clr-secondary);
}

.home .panel.text > * {
  /* flex: 1; */
}

.home .panel.text > *:first-child {
  justify-content: flex-end;
  align-self: baseline;
  margin-block-end: 15vh;
}
.home .name {
  --fnt-sz: 5vw;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: clamp(2px, calc(var(--fnt-sz) * 0.08), 10px);
  font-size: clamp(3rem, var(--fnt-sz), 4.5rem);
  line-height: 110%;
}

.home .last-name,
.home .description > :first-child {
  color: var(--clr-primary);
}

.home .description {
  justify-content: flex-start;
  align-self: right;
  text-align: right;
  font-size: clamp(2rem, 3.333vw, 3rem);
  letter-spacing: 0.15rem;
  line-height: 150%;
  padding-bottom: 10vh;
}

.panel.image {
  padding-top: 5rem;
}

.self-image {
  height: 80%;
}
