.header {
  margin-bottom: auto;
  padding: 1rem 2rem;
  color: var(--clr-primary);
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}

.header nav {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.header a {
  color: inherit;
  text-decoration: inherit;
  position: relative;
}

.header a.active {
  color: var(--clr-secondary);
}

.header a.active::before {
  content: "▲";
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  font-size: 1.25rem;
}

/* dev styles */

.header {
  /* border-bottom: 1px dashed lime; */
}
