:root {
  --clr-bg: #313136;
  --clr-bg-light: hsl(240, 5%, 30%);
  --clr-bg-dark: hsl(240, 5%, 10%);
  --clr-primary: #99e4ff;
  --clr-secondary: #ffffff;
  --font-1: "Inter", sans-serif;
  --font-2: "Montserrat", sans-serif;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  font-family: var(--font-2);
  display: flex;
  flex-direction: column;
}
.App [class$="-page"] {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  fill-opacity: 0.1;
}

.App .arrow {
  height: 100px;
}

.App [class$="-page"] button {
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.App [class$="-page"] button:hover #arrow {
  fill-opacity: 0.3;
  fill: var(--clr-primary);
}

.App > :nth-child(2) {
  display: flex;
  flex: 1;
}

.App main {
  flex: 1;
}
