:root {
  --clr-bg: #313136;
  --clr-bg-light: hsl(240, 5%, 30%);
  --clr-bg-dark: hsl(240, 5%, 10%);
  --clr-primary: #99e4ff
  --clr-secondary: #ffffff;
  --font-1: "Inter", sans-serif;
  --font-2: "Montserrat", sans-serif;
}
